// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.liuin-clip {
    .message {
        font-size: 40px;
    }

    .snp-content {
        max-height: 170px;
    }
}

.liuin-clip-right {
    width: 200px;

    atom-text-editor[mini].editor {
        border: 1px solid #9e5e5e;
        margin: 0 6px;
    }

    .select-list {
        height: 100%;
        padding-top: 10px;
    }

    .lab {
        display: inline-block;
        width: 90px;
        text-indent: 3px;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;
    }

    .btn.del {
        background: #7b0b20;
        color: #fff;
    }

    .select-list ol.list-group {
        height: 100%;
        max-height: inherit;
        padding-bottom: 50px;
    }

    .btn.mod {
        background: #3e5a8c;
        color: #fff;
    }
}
